body {
    font-family: 'Copperplate', sans-serif;
    width:800px;
}

h1 {
    font-size: 40px;
    margin-left: -10px;
    margin-bottom: 0px;

}

.side-line {
    border-left: #333333 solid 15px;
    border-right: #333333 solid 15px;
    padding: 10px 0 0 40px;
    margin: 0 40px;
    height: 500px;
}

.gold-line {
    border: #ffd700 solid 7px;
    margin: 0 -100px;
    padding: 0 -100px;
}

.blk-1 {
    border: solid 1px;    
    margin: 0 -100px;
    padding: 0 -100px;
}

.log {
    height:300px;
}

.blk-5 {
    border: #333333 solid 5px;
    margin: 0 -100px;
    padding: 0 -100px;
}

.tiff-line {
    border: #81d8d1 solid 4px;
    margin: 0 -100px;
    padding: 0 -100px;
}

.blk-1-2 {
    border: solid 1px;    
    margin: 0 -100px;
    padding: 0 -100px;
}

